@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2dlwym');
  src:  url('fonts/icomoon.eot?2dlwym#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2dlwym') format('truetype'),
    url('fonts/icomoon.woff?2dlwym') format('woff'),
    url('fonts/icomoon.svg?2dlwym#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e900";
}
.icon-letter:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-codepen:before {
  content: "\eae8";
}

